<nlog throwExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Certes.Examples.AppService" />
  </extensions>
  <targets>
    <target type="ApplicationInsightsTarget" name="aiTarget" layout="${longdate}${newline}${message}${onexception:${newline}${exception:format=tostring}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="aiTarget" />
  </rules>
</nlog>